<div class="tooltip tooltip-top">
  <img
    class="input-icon tooltip-trigger ri-information-line"
    src="/svg/icon/information.svg"
    alt="svg"
  />

  <span class="tooltip-drop"><%= info %></span>
</div>
