<footer class="footer-section">
  <div class="container">
    <div class="footer-cta">
      <div class="row">
        <div class="col-1">
          <div class="single-cta">
            <!--i class="fas fa-map-marker-alt"></i-->
            <img src="/svg/icon/location-svgrepo-com.svg" alt="location icon" />
            <div class="cta-text">
              <h4>Find us</h4>
              <span>1010 Avenue, sw 54321, chandigarh</span>
            </div>
          </div>
        </div>
        <div class="col-1">
          <div class="single-cta">
            <!--i class="fas fa-phone"></i-->
            <img
              src="/svg/icon/phone-contact-svgrepo-com.svg"
              alt="contact icon"
            />
            <div class="cta-text">
              <h4>Call us</h4>
              <span
                ><a href="tel:+254712679390" target="blank norefferer"
                  >+254 712 679 390</a
                ></span
              >
            </div>
          </div>
        </div>
        <div class="col-1">
          <div class="single-cta">
            <!--i class="far fa-envelope-open"></i-->
            <img src="/svg/icon/mail-svgrepo-com.svg" alt="mail icon" />
            <div class="cta-text">
              <h4>Mail us</h4>
              <span
                ><a href="mailto:theTOP@gmail.com" target="blank norefferer"
                  >theTOP@gmail.com</a
                ></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content">
      <div class="row">
        <div class="col-2">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index">
                <!--img src="./img/ak-logo.png" class="img-fluid" alt="logo"-->
                <img
                  srcset="/img/Logo.jpg"
                  src="/img/Logo.jpg"
                  alt="Logo"
                  width="50"
                /><span>TheTOP</span>
              </a>
            </div>
            <div class="footer-text">
              <p>
                Our company is compliant with the General Data Protection
                Regulation (GDPR) (EU) 2016/679. We are committed to
                guaranteeing the security and protection of the private
                information that we process. To understand more about how we
                collect, store, and process your personal information in
                compliance with GDPR, please take a look at our
                <a class="inline_link" href="/privacy">privacy policy</a>.
              </p>
            </div>
            <div class="footer-social-icon">
              <span>Follow</span>
              <a href="#"
                ><!--i class="fab fa-facebook-f facebook-bg"></i-->
                <img
                  class="facebook-bg"
                  src="/svg/icon/facebook.svg"
                  alt="facebook"
                />
              </a>
              <a href="#"
                ><!--i class="fab fa-twitter twitter-bg"></i-->
                <img
                  class="twitter-bg"
                  src="/svg/icon/twitter.svg"
                  alt="twitter"
                />
              </a>
              <a href="#"
                ><!--i class="fab fa-google-plus-g google-bg"></i-->
                <img
                  class="google"
                  src="/svg/icon/linkedin.svg"
                  alt="linkedin"
                />
              </a>
              <a href="#"
                ><!--i class="fab fa-twitter twitter-bg"></i-->
                <img
                  class="pinterest-bg"
                  src="/svg/icon/pinterest.svg"
                  alt="pinterest"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">about</a>
              </li>
              <li>
                <a href="/services">service</a>
              </li>
              <li>
                <a href="/">portfolio</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
              <li>
                <a href="/about">About us</a>
              </li>
              <li>
                <a href="/services">Our Services</a>
              </li>
              <li>
                <a href="/team">Expert Team</a>
              </li>
              <li>
                <a href="/contact">Contact us</a>
              </li>
              <li>
                <a href="/articles">Latest News</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-4">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text">
              <p>
                Don’t miss to subscribe to our new feeds, kindly fill the form
                below.
              </p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address" />
                <button class="send">
                  <!--i class="fab fa-telegram-plane"></i-->
                  <img src="/svg/icon/send-svgrepo-com.svg" alt="send_icon" />
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <div class="copyright-text">
            <p>
              Copyright &copy; 2018, All Right Reserved
              <a class="inline_link" href="/">TheTOP</a>
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="footer-menu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/terms">Terms</a></li>
              <li>
                <a href="/terms">terms and conditions</a>
              </li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/privacy">Privacy policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
