<head>
  <meta charset="UTF-8" />
  <meta
    name="keywords"
    content="Assignment Help, Homework Help, project help, essay writing help, Research Paper Writing services"
  />
  <meta
    name="description"
    content="Get the best assignment help online. We have a team of 100+ experts from different fields ready to deliver A Grade solutions to your assignments and homework. Order Now!"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=7" />
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <meta name="description" content="" />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <title>TheTOP WRITERS | <%= locals.title || 'Default' %></title>

  <!-- HTML -->
  <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src=https://use.fontawesome.com/releases/v5.3.1/js/all.js></script-->

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/order.css" />
  <link rel="stylesheet" href="/css/profile.css" />

  <style type="text/css">
    /**
      * Google webfonts. Recommended to include the .woff version for cross-client compatibility.
    */
    @media screen {
      @font-face {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 400;
        src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
          url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff)
            format("woff");
      }

      @font-face {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 700;
        src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
          url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff)
            format("woff");
      }
    }

    /**
       * Avoid browser level font resizing.
       * 1. Windows Mobile
       * 2. iOS / OSX
       */
    body,
    table,
    td,
    a {
      -ms-text-size-adjust: 100%;
      /* 1 */
      -webkit-text-size-adjust: 100%;
      /* 2 */
    }

    /**
       * Remove extra space added to tables and cells in Outlook.
    */
    /* table,
    td {
      mso-table-rspace: 0pt;
      mso-table-lspace: 0pt;
    } */

    /**
      * Better fluid images in Internet Explorer.
    */
    img {
      -ms-interpolation-mode: bicubic;
    }

    /**
      * Remove blue links for iOS devices.
    */
    a[x-apple-data-detectors] {
      font-family: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
      color: inherit !important;
      text-decoration: none !important;
    }

    /**
       * Fix centering issues in Android 4.4.
       */
    div[style*="margin: 16px 0;"] {
      margin: 0 !important;
    }

    body {
      width: 100% !important;
      height: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
    }

    /**
       * Collapse table borders to avoid space between cells.
       */
    table {
      border-collapse: collapse !important;
    }

    a {
      color: #1a82e2;
    }

    img {
      height: auto;
      line-height: 100%;
      text-decoration: none;
      border: 0;
      outline: none;
    }
  </style>
</head>
