<form action="" method="post">
  <table class="table">
    <thead class="thead thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="">
      <tr>
        <td>1</td>
        <td>Usernme</td>
        <td>abc@gmail.com</td>
        <td>admin</td>
        <td>Active</td>
        <td>
          <a href="http://"> Update <span></span> </a>
          <a href="http://"> Delete <span></span> </a>
        </td>
      </tr>
    </tbody>
  </table>
</form>
