<!DOCTYPE html>
<html lang="en">
 
<%- include("./partials/head.ejs") %>
 
<body>
  <div class="wrapper">
    <header class="header" role="banner" aria-label="The Top">
      
      <%- include("./partials/nav.ejs") %>
 
      <section class="section__img">
        <img src="/svg/icon/lady-on-laptop.svg" alt="svg image" />
      </section>
 
      <main class="[ flow ] [ main ]">
        <h1 class="main__heading">Quality Service –
          <span class="span">Satisfied</span> Customer</h1>
        <h2 class="main__sub">TheTOP <span>Is</span> An Online Professional Writing Platform That Connects Talented Specialist Writers With Everyone Who Needs Great Results In A Short Timeframe.</h2>
        <a class="main__button" href="/order-page"><span>GIVE US A SHOT</span></a>
      </main>

      <!--Waves Container-->
      <%- include("./partials/waves.ejs") %>
      <!--Waves end-->
    </header>
 
    <section id="insta_nav">
      <div class="insta_nav">
        <nav class="content__sidebar-inner">
          <h2>On This Page</h2>
          <ul id="table-of-contents"></ul>
        </nav>
      </div>
    </section>
 
    <article>
    <section class="section">
      <div class="container">
        <h2 class="sub__title">Hiring Process Funnel</h2>
        <p>We hire EssayPro writers from different fields, thoroughly check their credentials, and put them through trials. Once we are satisfied with their knowledge, speed, accuracy, and professionalism, they can finally put pen to paper for our clients.</p>
      </div>
      <div class="content">
        <div class="gallery">
          <div class="wrapper__hor">
            <div class="item">
              <h3>1. Proof of Identity <span><img class="svg" src="/svg/icon/id-card-svgrepo-com (1).svg" alt="" /></span></h3>
              <p>Our first step is to ask for a potential writer's ID. We check this to better serve and take care of our customers.</p>
            </div>
            <div class="item">
              <h3>2. Diploma Verification
                <span>
                  <img class="svg" src="/svg/icon/diploma-certificate-svgrepo-com.svg" alt="" />
                </span>
              </h3>
              <p>Once a writer's ID is checked, we verify the authenticity of the diploma. This includes degrees with stamps and signatures from the education institution.</p>
            </div>
            <div class="item">
              <h3>3. Provide Writing Samples
                <span>
                  <img class="svg" src="/svg/icon/clipboard-list-svgrepo-com.svg" alt="" />
                </span>
              </h3>
              <p>Does the candidate possess the versatility and breadth of knowledge to handle various client requests? We request writing samples, which our QA department thoroughly checks.</p>
            </div>
            <div class="item">
              <h3>4. Test Assignment
                <span>
                  <img class="svg" src="/svg/icon/curriculum-resume-svgrepo-com.svg" alt="" />
                </span>
              </h3>
              <p>After an interview, we ask the potential writer to craft a paper. This shows whether they are ready to keep up with our team.</p>
            </div>
            <div class="item">
              <h3>5. Trial Period
                <span>
                  <img class="svg" src="/svg/icon/calendar-svgrepo-com (1).svg" alt="" />
                </span>
              </h3>
              <p>The last hurdle. We offer them a 1-month trial period. Having performed well, we then present them with an official invitation to join our team!</p>
            </div>
          </div>
      </div>
    </section>
 
    <section class="section">
      <div class="container">
        <h2 class="sub__title">Offering Unbeatable Services</h2>
        <p>No matter what you need, we do it quickly, accurately, and with professionalism that is second to none. Below are the services we offer.</p>
        <div class="row service index__features">
          <div>
            <h3>Writing <span><img class="svg" src="/svg/icon/clipboard-with-pen.svg" alt="" /></span></h3>
            <p>Simply give us the requirements and we write a paper from scratch. Choose a writer and only make the full payment when completely satisfied.</p>
            <!--button class="gen__buttons" type="submit"><a href="/order">Order from $11.40 per page</a></button-->
            <!--a class="gen__buttons"-->
            <a class="large_button" href="/order-page">Order from $11.40 per page</a>
          </div>
          <div>
            <h3>Rewriting <span><img class="svg" src="/svg/icon/typewriter.svg" alt="" /></span></h3>
            <p>If you've done the research and need a specialist to make it worthy of top marks, we will completely rewrite your paper - originality guaranteed.</p>
            <!--a class="gen__buttons"-->
            <a class="large_button"type="submit" href="/order-page">Order from $7.98/ page</a>
          </div>
          <div>
            <h3>Editing <span><img class="svg" src="/svg/icon/clipboard-verification.svg" alt="" /></span></h3>
            <p>Got a task that needs some last minute changes? Send it to us with correction instructions and we'll have it back to you ASAP.</p>
            <!--a class="gen__buttons"-->
            <a class="large_button" type="submit" href="/order-page">Order from $5.70/ page</a>
          </div>
          <div>
            <h3>Proofreading <span><img class="svg" src="/svg/icon/glass-stats.svg" alt="" /></span></h3>
            <p>For a professional touch, we go over finished work, checking spelling, grammar and formatting to make sure the assignment looks polished and top-notch.</p>
            <a class="large_button" type="submit" href="/order-page">Order from $3.00/ page</a>
          </div>
        </div>
      </div>
    </section>
 
    <section class="section stats__cover">
      <div class="container">
        <div class="row">
          <div>
            <h2 class="sub__title">Why Choose the Services of TheTOP.org <span>To</span> Write Your Research Paper</h2>
            <!--div class="place_center"-->
              <a class="link_to_order inline_link" href="/order-page">Our numbers tell more about us<span><img class="inline_link" src="/svg/icon/right-arrow-next-svgrepo-com.svg" alt="" /></span></a>
            <!--/div-->
        </div>
          <div class="row stats">
            <div>
              <i></i>
              <div class="count _1">90,000</div>
              <p>papers completed in 2021</p>
            </div>
            <div>
              <i></i>
              <div class="count _2">10,000</div>
              <p>orders written per month</p>
            </div>
            <div>
              <i></i>
              <div class="count _3">0</div> 
              <p>papers submitted per day</p>
            </div>
          </div>
        </div>
      </div>
    </section>
 
    <section class="section">
      <div class="container">
        <h2 class="sub__title">Benefit from TheTOP Extras</h2>
        <p>Wondering if this job covers your intellectual ambitions? Working with us, you can choose orders of different subjects, deadlines, and levels of complexity. Along with our writing, editing, and proofreading skills, we want to make sure you get real bang for your buck, which is why we provide all these extra features.</p>
        <div class="row index__features">
          <div>
            <h3>Quick Turnaround <span><img class="svg" src="/svg/icon/chronometer.svg" alt="" /></span></h3>
            <p>Looming due dates? Get your paper done in 6 hours or less. Message via chat and we'll get onto it.</p>
          </div>
          <div>
            <h3>Free Originality Report<span><img class="svg" src="/svg/icon/loupe-search.svg" alt="" /></span></h3>
            <p>Originality is our key priority. We provide a FREE originality report with every essay, so you'll know it's definitively unique!</p>
          </div>
          <div>
            <h3>QA Department <span><img class="svg" src="/svg/icon/monitor.svg" alt="" /></span></h3>
            <p>An extra set of eyes never hurts! Your essay is examined by our QA experts before delivery.</p>
          </div>
          <div>
            <h3>Flexible Discount System <span><img class="svg" src="/svg/icon/discount.svg" alt="" /></span></h3>
            <p>The further the due date or the more pages you order, the lower the price! Affordability is in our DNA.</p>
          </div>
          <div>
            <h3>Unlimited Edits <span><img class="svg" src="/svg/icon/pen-writer.svg" alt="" /></span></h3>
            <p>All revisions are free of charge. Ask your writer for adjustments and you'll have them in no time!</p>
          </div>
          <div>
            <h3>24/7 Support <span><img class="svg" src="/svg/icon/24-hours-support.svg" alt="" /></span></h3>
            <p>We're here for you day and night. Connect with customer support around-the-clock for any orders or urgent questions.</p>
          </div>
        </div>
      </div>
    </section>
    </article>
 
    <%- include('partials/footer'); -%>

  </div>
  <script src="/js/main.js"></script>
  <script src="/js/about.js"></script>
</body>
</html>
