<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <div class="wrapper">
      <header class="header" role="banner" aria-label="The Top">
        <%- include("./partials/nav.ejs") %>

        <section class="section__img">
          <img
            src="/svg/icon/features.svg"
            alt="svg image"
            srcset="/svg/icon/features.svg"
          />
        </section>

        <main class="[ flow ] [ main ]">
          <h1 class="main__heading">Do My Assignment:</h1>
          <h2 class="main__sub">
            Submit the Best Assignment With TheTOP. <span>We</span> are the
            World's Most Trusted Company For Assignment Writing Service Since
            2010
          </h2>
          <h3 class="main__h3">Basic Features</h3>
          <div class="styled__list">
            <ul>
              <li>Unlimited Revisions</li>
              <li>Plagiarism-free Guaranteed</li>
              <li>30-Day Money Back</li>
              <li>24/7 Support</li>
            </ul>
          </div>
          <br />
          <br />
          <a class="main__button" href="/order-page"
            ><span>Write My Paper</span></a
          >
          <!--target="_blank" rel="payment"-->
        </main>

        <!--Waves Container-->
        <%- include("./partials/waves.ejs") %>
        <!--Waves end-->
      </header>

      <section id="insta_nav">
        <div class="insta_nav">
          <nav class="content__sidebar-inner">
            <h2>Summary</h2>
            <ul id="table-of-contents"></ul>
          </nav>
        </div>
      </section>

      <article>
        <section class="we-offer-area text-center bg-gray">
          <div class="container">
            <div class="row">
              <div class="">
                <div class="">
                  <h2 class="sub__title">
                    Features That Amaze Our <span>Customers</span>
                  </h2>
                  <h3>
                    Meet our team <span>of</span> experienced writers and
                    advisors. With us, quality is never an option.
                  </h3>
                  <p>
                    TheTop has evolved to a plartform where professional writers
                    and students co-exist. Posting orders to the public and
                    digital payments are the trending features.
                  </p>
                  <p>
                    Check out our custom essay writing service features. We
                    guarantee that your essay will not only be delivered on time
                    but will also be of the highest quality.
                  </p>
                </div>
              </div>
            </div>
            <div class="row our-offer-items less-carousel">
              <!-- Single Item -->
              <!--div class="col-md-4 col-sm-6 equal-height"-->
              <div>
                <div class="feature_item">
                  <!--i class="fas fa-pen-fancy"></i-->
                  <i><img src="/svg/icon/calendar-svgrepo-com.svg" alt="" /></i>
                  <h4>Quick Results</h4>
                  <p>
                    Meet any deadline. 1200+ dedicated writers are ready to
                    complete your essay in as quickly as 3 hours.
                  </p>
                </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div>
                <div class="feature_item">
                  <!--i class="fas fa-dharmachakra"></i-->
                  <i><img src="/svg/icon/typewriter.svg" alt="" /></i>
                  <h4>Free Originality Report</h4>
                  <p>
                    To feel calm and confident your paper is 100% original, you
                    can always request free originality on our professional
                    essay writing service.
                  </p>
                </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div>
                <div class="feature_item">
                  <!--i class="fas fa-tasks"></i-->
                  <i><img src="/svg/icon/24-hours-support.svg" alt="" /></i>
                  <h4>24/7 Unlimited Support</h4>
                  <p>
                    We’re always there for you and respond in as little as one
                    minute.
                  </p>
                </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div>
                <div class="feature_item">
                  <!--i class="fas fa-tachometer-alt">i</i-->
                  <i
                    ><img src="/svg/icon/clipboard-verification.svg" alt=""
                  /></i>
                  <h4>Edits without Limits</h4>
                  <p>
                    After you have received a paper on our essays service, you
                    have 30 days to ask for as many edits as you want from your
                    helper until you're completely satisfied!
                  </p>
                </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div>
                <div class="feature_item">
                  <!--i class="fas fa-recycle"></i-->
                  <i><img src="/svg/icon/browser-cycle.svg" alt="" /></i>
                  <h4>100% confidentiality</h4>
                  <p>
                    Our academic writing services are as confidential as
                    possible. Each aspect of our mutual cooperation with
                    customers is safely preserved by policies that guarantee
                    complete confidentiality.
                  </p>
                </div>
              </div>
              <!-- End Single Item -->

              <!-- Single Item -->
              <div>
                <div class="feature_item">
                  <!--i class="fas fa-headset"></i-->
                  <i><img src="/svg/icon/user.svg" alt="" /></i>
                  <h4>Native English Speakers</h4>
                  <p>
                    We put every effort in order to get your academic papers
                    completed by well-educated,bqualified and English native
                    speaking professionals.
                  </p>
                </div>
              </div>
              <!-- End Single Item -->
            </div>
          </div>
        </section>

        <section class="section">
          <div class="container">
            <div class="services-intro">
              <h2 class="sub__title">
                Why hire an academic writer from our writing services?
              </h2>

              <p>
                Our services include academic papers of varying complexity and
                other personalized services along with research materials for
                assistance purposes only.
              </p>
              <br />
              <p>
                Our writers have a high English proficiency, they are thoroughly
                tested for the same before joining our team.
              </p>
              <p>
                You have the flexibility to chose an assignment expert that
                suits your budget and quality parameters. We have more than
                3000+ PhD experts available to assist with assignments
              </p>

              <h2 class="sub__title">How We Price Our Papers?</h2>
              <p>
                Our academic writers are graduates in the discipline they engage
                in.
              </p>
              <p>
                They are not only qualified, they also engage in the same
                disciplines on a day to day basis.
              </p>
              <p>
                This means that, they are way qualified and are able to meet
                your needs, over and above what your expectations may be.
              </p>
              <p>
                A professional essay writing service is always transparent about
                the factors that impact the final price of the order.
              </p>
              <p>
                We share all the details before you outsource your papers to us.
                Here are the most crucial aspects of price formation you should
                be aware of.
              </p>
              <br />
              <h3>Type of Paper</h3>
              <p>
                The more challenging the assignment is, the more it costs. It is
                understandable, considering how much research goes into a
                research paper compared to an essay.
              </p>
              <h3>Number of Pages</h3>
              <p>
                Our writing service charges per page. So, if the paper is
                extensive, the price of your assignment will be higher.
              </p>

              <h3>PagesUrgency</h3>
              <p>
                We already mentioned that urgent assignments are considerably
                more expensive, especially if they are complex. Your writer has
                to work more hours to complete an urgent task, hence the high
                cost of your order.
              </p>

              <h3>Quality Level</h3>
              <p>
                The pricing policy at Proessaywriting includes three levels:
              </p>
              <ul class="styled__list">
                <li>
                  Standard - best for high school, college, and Bachelor
                  students.
                </li>
                <li>
                  Premium - suitable for Graduate Bachelor’s and Master’s degree
                  students.
                </li>
                <li>
                  Platinum - perfect for Bachelor, Master, and Ph.D. students.
                </li>
              </ul>
              <p>
                Each quality level has its team of writers. The Platinum level
                is the most expensive because we only have highly experienced
                authors with Ph.D. degrees working on these orders. Your order
                will be costly, but the quality will be flawless.
              </p>

              <h3>Academic Level</h3>
              <p>
                Similar to the quality levels, academic levels also can change
                the final price for your assignment. <br />
                If you hire pro essay writers for a high-school-level essay, the
                price will be lower than for a Master-level task.
              </p>

              <h3>Subject Area</h3>
              <p>
                Finally, the subject of your paper can also change the cost.
                Some subject areas are more researchable than others, therefore,
                they are less expensive.
              </p>

              <h2 class="sub__title">
                Why Entrust Your Paper to TheTOP Essay Writers?
              </h2>
              <p>
                We have all been students at some point in our lives, we know
                the pressure involved. Getting bad or inconsistent grades is
                something we all dislike.
              </p>
              <br />
              <p>
                With out skilled academic writers, rest assured of getting
                consistent super grades.
              </p>
              <p>Choose TheTOP.org!</p>
              <p>
                We’ve been on the market for over a decade and have helped
                thousands of students better manage their time and improve
                grades. Our prices are transparent and will satisfy you even if
                you’re running on a shoestring budget.
              </p>
              <p>Here are the benefits that we offer.</p>

              <h3>Top-Notch Quality Papers</h3>
              <p>
                Our team of professional writers specializes in all types of
                school and college assignments and subjects. Your paper will be
                well-researched, properly written, and organized.
              </p>
              <h3>Complete Confidentiality</h3>
              <p>
                When ordering a paper, you create an account which only you can
                control. All the communications with the writer remain
                encrypted, and your payment information is protected by several
                security protocols.
              </p>
              <p>
                No worries here, we respect your privacy - your personal details
                are safe with us.
              </p>
              <h3>Expert Writers</h3>
              <p>
                Every writer goes through a series of tests before becoming a
                part of our squad. We test their writing skills and knowledge of
                the subject, and have them complete a bunch of trial orders to
                confirm their qualifications.
              </p>
              <h3>24/7 Customer Service</h3>
              <p>
                ServiceOur customer service team works around the clock to help
                you place your order. Your customer support representative will
                stay with you until we make sure you are satisfied with your
                paper.
              </p>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <h2 class="sub__title">
              Frequently Asked Questions<!--abbr title="Frequently Asked Questions">FAQ</abbr-->
            </h2>
            <div class="row FAQ">
              <ul>
                <li class="dropdown">
                  <input type="checkbox" />
                  <a href="#" data-toggle="dropdown">What is TheTOP.org?</a>
                  <ul class="dropdown-menu">
                    <li>
                      <p>
                        TheTOP.org is a convenient and reliable platform
                        established to provide professional assistance in
                        academic writing. With us, you will get a properly
                        crafted academic assignment and well-researched
                        materials that you could use at your own discretion.
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <input type="checkbox" />
                  <a href="#" data-toggle="dropdown">Why choose TheTOP.org?</a>
                  <ul class="dropdown-menu">
                    <li>
                      <p>
                        We are an online company with a team of writers who can
                        complete an assignment of any difficulty level for a
                        fee. We've been in this business for more than a decade
                        of pure excellence. Here’s the complete list of
                        guarantees TheTOP.org provides to every client: <br />
                        <br />
                        1. <span>Zero tolerance to plagiarism</span>. You will
                        get a plagiarism report to confirm your paper is unique.
                        <br />
                        2. <span>Native English writers only</span>. Our team
                        consists of English speakers exclusively. <br />
                        3. <span>Respect for deadlines</span>. We guarantee that
                        you’ll receive your order on time.<br />
                        4. <span>Direct communication with the writer</span>.
                        You can talk to your writer without having to involve
                        customer service in your conversations.<br />
                        5. <span>Unlimited revision</span>. You also have the
                        right for revisions if you’re not fully satisfied with
                        your order. <br />
                        6. <span>Privacy Policy</span>.We do not share your
                        private information with third parties. Read our
                        <a href="/api/v1/privacy">privacy policy</a>.
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <input type="checkbox" />
                  <a href="#" data-toggle="dropdown"
                    >How does TheTOP.org work?</a
                  >
                  <ul class="dropdown-menu">
                    <li>
                      <p>
                        <span>1.</span> Fill in the important details on our
                        <a href="/order-page">order form</a> including the
                        number of pages, due date etc., and complete the
                        payment. You'll get a receipt via email, and we'll get
                        started on Step 2! <br />
                        <span>2.</span> Our staff will find a suitable writer
                        from our team or you caan choose one who specializes in
                        both your subject and assignment. Once the perfect match
                        has been meet, we'll send you an email and start
                        writing. <br />
                        <span>3.</span> Once your writer is finished writing
                        your custom paper, they'll upload it to your account and
                        you'll get an email with a private link to your
                        document. It's that easy!
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <input type="checkbox" />
                  <a href="#" data-toggle="dropdown">Is TheTOP.org legit?</a>
                  <ul class="dropdown-menu">
                    <li>
                      <p>
                        Yes, we are a legit company with years of experience in
                        the field of academic research and assistance. We
                        provide academic assistance in terms of learning
                        resources that is available to us 24/7 all year round.
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <input type="checkbox" />
                  <a href="#" data-toggle="dropdown"
                    >Is it ethical to receive your help with my assignments?</a
                  >
                  <ul class="dropdown-menu">
                    <li>
                      <p>
                        It is perfectly legal to outsource your tasks to a
                        writing service. When you pay for a paper, you purchase
                        the authorship rights, making it your property. Then,
                        you can use it however you like, and no one will find
                        out that someone wrote it for you.
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <input type="checkbox" />
                  <a href="#" data-toggle="dropdown"
                    >Will my paper be written from scratch?</a
                  >
                  <ul class="dropdown-menu">
                    <li>
                      <p>
                        Every paper that is delivered to our clients is unique.
                        Our online assignment writing service comes with a QA
                        department with an anti-plagiarism policies to ensure
                        that every paper is top notch in terms of quality. Our
                        in-house writers adhere to the strict terms and
                        conditions based of off their contractual terms of
                        employment.
                      </p>
                    </li>
                  </ul>
                </li>
              </ul>

              <ul>
                <li class="dropdown">
                  <input type="checkbox" />
                  <a href="#" data-toggle="dropdown"
                    >What formatting styles do you offer when you write an essay
                    for me</a
                  >
                  <ul class="dropdown-menu">
                    <li>
                      <p>
                        Formatting is about consistency and can make a vital
                        difference to the quality of final paper. With our essay
                        writer service, you can stop second-guessing yourself.
                        Our writing experts have strong experience and can
                        satisfactorily complete essay writing in all formatting
                        and referencing styles. If you need a specific
                        formatting or referencing style for one of your write my
                        paper for me requests, open our essay service chat
                        window and list your requirements. We'll quickly find a
                        suitable candidate to write according to your exact
                        specifications. Too easy! Send us a message "write my
                        essay for me cheap," and we'll start right away.
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <input type="checkbox" />
                  <a href="#" data-toggle="dropdown"
                    >Is there any refund guarantee in case you don’t do my
                    assignment?</a
                  >
                  <ul class="dropdown-menu">
                    <li>
                      <p>
                        We have a 100% 30 days refund policy. In the unlikely
                        event that we fail to write your assignment as per the
                        given instructions or miss the deadline, your money will
                        be refunded in full. You can read our
                        <a href="/api/v1/refund-policy">refund policy</a>
                        for clarity in this regard. We have one of the best
                        refund policies in this market sphere. You can file for
                        an easy refund citing one of the given reasons.
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <input type="checkbox" />
                  <a href="#" data-toggle="dropdown"
                    >Why should I hire someone to write my research paper?</a
                  >
                  <ul class="dropdown-menu">
                    <li>
                      <p>
                        Well, it just so happens that some tasks have different
                        requirements interms of urgency and importance. Or
                        better yet, some academic assignments are just to
                        difficult to cope with in the shortest time possible. We
                        won't even start on the level of boredom that goes on in
                        completing some boring ancient historical facts. We
                        promise you that we will help you score excellent grades
                        within the stipulated time, boredom, difficulty and
                        urgency not withstanding
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <input type="checkbox" />
                  <a href="#" data-toggle="dropdown"
                    >Can I talk to my writer while the work is in progress?</a
                  >
                  <ul class="dropdown-menu">
                    <li><p>Home</p></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <input type="checkbox" />
                  <a href="#" data-toggle="dropdown"
                    >Once you write me a research paper, how do you process
                    payments?</a
                  >
                  <ul class="dropdown-menu">
                    <li><p>Home</p></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </article>

      <%- include('partials/footer'); -%>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
