<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <div class="wrapper">
      <header class="header" role="banner" aria-label="The Top">
        <%- include("./partials/nav.ejs") %>
      </header>

      <!--section class="section__img"></section-->

      <section class="login__page">
        <div class="container">
          <div id="result"></div>
          <div class="message"></div>

          <div class="row" id="login-box">
            <div class="form-modal">
              <div class="form-toggle">
                <button id="login-toggle">log in</button>
                <button id="signup-toggle">sign up</button>
              </div>
              <!--onclick="toggleLogin()"-->
              <!--onclick="toggleSigin()"-->

              <div id="login-form">
                <form
                  class="loginForm"
                  name="loginForm"
                  action="/api/v1/auth/login"
                  method="post"
                >
                  <input
                    type="text"
                    name="username"
                    placeholder="Enter email or username"
                  />
                  <input
                    type="password"
                    name="password"
                    placeholder="Enter password"
                  />
                  <input type="submit" class="btn login" value="login" />
                  <!-- <button type="button" class="btn login">login</button> -->
                  <p>
                    <a class="inline_link" href="/forget-password"
                      >Forgotten account</a
                    >
                  </p>
                  <hr />
                </form>
              </div>

              <div id="signup-form">
                <form
                  class="signupForm"
                  name="signupForm"
                  action="/api/v1/auth/signup"
                  method="post"
                >
                  <div class="input-group">
                    <input
                      id="username"
                      type="text"
                      class="input"
                      name="username"
                      autocomplete
                      placeholder="Choose Username"
                    />
                    <span class="error-message"></span>
                    <svg
                      class="login__icon icon-success hidden"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"
                      />
                    </svg>

                    <svg
                      class="login__icon icon-error hidden"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </div>
                  <div class="input-group">
                    <input
                      id="email"
                      type="email"
                      class="input"
                      name="email"
                      autocomplete
                      placeholder="Enter your email"
                    />
                    <span class="error-message"></span>
                    <svg
                      class="login__icon icon-success hidden"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"
                      />
                    </svg>

                    <svg
                      class="login__icon icon-error hidden"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </div>
                  <!--div class="input-group">
                  <input type="text" placeholder="Choose username"/>
                </div-->
                  <div class="input-group">
                    <input
                      id="password"
                      type="password"
                      name="password"
                      class="input"
                      placeholder="Create password"
                    />
                    <span class="error-message"></span>
                    <svg
                      class="login__icon icon-success hidden"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"
                      />
                    </svg>

                    <svg
                      class="login__icon icon-error hidden"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                        clip-rule="evenodd"
                      />
                    </svg>
                    <span type="button" id="btnToggle" class="toggle"
                      >show</span
                    >
                  </div>
                  <div class="input-group">
                    <input
                      id="password_confirmation"
                      type="password"
                      class="input"
                      name="confirmPassword"
                      placeholder="Confirm Password"
                    />
                    <span class="error-message"></span>
                    <svg
                      class="login__icon icon-success hidden"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"
                      />
                    </svg>

                    <svg
                      class="login__icon icon-error hidden"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                        clip-rule="evenodd"
                      />
                    </svg>
                  </div>
                  <input
                    type="submit"
                    class="btn signup"
                    value="create account"
                  />
                  <p>
                    By <strong>creating an account</strong>, you agree to our
                    <a class="inline_link" href="/terms"
                      >terms and conditions</a
                    >
                    and the
                    <a class="inline_link" href="/privacy">privacy policy</a>.
                  </p>
                  <hr />
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include('partials/footer'); -%>
    </div>
    <script src="/js/login.js" type="module"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
